# configuration file
# this file should contain lines in the format:
# project_name = default project
# use these lines to define your default project properties

project_name = default project
project_description = project description
site_name = default site
site_description = site description
building_name = default building
building_description = building description
author = default author
organisation_name = default organisation
organisation_description = organisation description
